@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: hsl(180, 52%, 96%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.header{
  background-image: url("/images/bg-header-desktop.svg");
  background-size: cover;
  background-position: center;
background-color:hsl(180, 29%, 50%) ;}

@media(max-width:550px){
  .header{
    background-image: url("/images/bg-header-mobile.svg");
  }
}